


<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#device_info" aria-controls="profile" role="tab" data-toggle="tab">Device info</a></li>
    <li role="presentation"><a href="#sensors" aria-controls="messages" role="tab" data-toggle="tab">Sensors</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <form novalidate [formGroup]="form" (ngSubmit)="addUser(form)">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">
                Name:
              </label>
              <input type="text" name="" formControlName="name" class="form-control">
            </div>
            <div *ngIf=" form.get('name').touched && form.get('name').invalid" class="alert alert-danger">
              <div *ngIf="form.get('name').hasError('required')">
                Name is required
              </div>
              <div *ngIf="form.get('name').hasError('pattern')">
                Invalid name
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="description">
                Description :
              </label>
              <input type="text" name="" formControlName="description" class="form-control">
            </div>
            <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger">
              <div *ngIf="form.get('description').hasError('required')">
                Description is required
              </div>
              <div *ngIf="form.get('description').hasError('minlength')">
                Less than 1 digits
              </div>
              <div *ngIf="form.get('description').hasError('maxlength')">
                More than 10 digits
              </div>
              <div *ngIf="form.get('description').hasError('pattern')">
                Invalid contact
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="device_resource_type">
                Device resource type :
              </label>
              <input type="text" name="" formControlName="device_resource_type" class="form-control">
            </div>
            <div *ngIf="form.get('device_resource_type').touched && form.get('device_resource_type').invalid" class="alert alert-danger">
              <div *ngIf="form.get('device_resource_type').hasError('required')">
                device_resource_type is required
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="default_value">
                Default value :
              </label>
              <input type="text" name="" formControlName="default_value" class="form-control">
            </div>
            <div *ngIf="form.get('default_value').touched && form.get('default_value').invalid" class="alert alert-danger">
              <div *ngIf="form.get('default_value').hasError('required')">
                Default value is required
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="data_type">
                Data type :
              </label>
              <input type="text" name="" formControlName="data_type" class="form-control">
            </div>
            <div *ngIf="form.get('data_type').touched && form.get('data_type').invalid" class="alert alert-danger">
              <div *ngIf="form.get('data_type').hasError('required')">
                Data type is required
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="format">
                format :
              </label>
              <input type="text" name="" formControlName="format" class="form-control">
            </div>
            <div *ngIf="form.get('format').touched && form.get('format').invalid" class="alert alert-danger">
              <div *ngIf="form.get('format').hasError('required')">
                Format is required
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="range_min">
                Range_min :
              </label>
              <input type="text" name="" formControlName="range_min" class="form-control">
            </div>
            <div *ngIf="form.get('range_min').touched && form.get('range_min').invalid" class="alert alert-danger">
              <div *ngIf="form.get('range_min').hasError('required')">
                Range min is required
              </div>
              <div *ngIf="form.get('range_min').hasError('pattern')">
                Invalid contact
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="range_max">
                Range max :
              </label>
              <input type="text" name="" formControlName="range_max" class="form-control">
            </div>
            <div *ngIf="form.get('range_max').touched && form.get('range_max').invalid" class="alert alert-danger">
              <div *ngIf="form.get('range_max').hasError('pattern')">
                Invalid contact
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="unit_of_measurement">
                Unit of measurement :
              </label>
              <input type="text" name="" formControlName="unit_of_measurement" class="form-control">
            </div>
            <div *ngIf="form.get('unit_of_measurement').touched && form.get('unit_of_measurement').invalid" class="alert alert-danger">
              <div *ngIf="form.get('unit_of_measurement').hasError('pattern')">
                Invalid unit of measurement
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="precision">
                Precision :
              </label>
              <input type="text" name="" formControlName="precision" class="form-control">
            </div>
            <div *ngIf="form.get('precision').touched && form.get('precision').invalid" class="alert alert-danger">
              <div *ngIf="form.get('precision').hasError('required')">
                Precision is required
              </div>
              <div *ngIf="form.get('precision').hasError('pattern')">
                Invalid Precision
              </div>
            </div>
          </div>
          <div class="col-sm-4">

            <div class="form-group">
              <label for="accuracy">
                Accuracy :
              </label>
              <input type="text" name="" formControlName="accuracy" class="form-control">
            </div>
            <div *ngIf="form.get('accuracy').touched && form.get('accuracy').invalid" class="alert alert-danger">
              <div *ngIf="form.get('accuracy').hasError('pattern')">
                Invalid accuracy
              </div>
            </div>
          </div>
        </div>



        <button type="submit" name="button" [disabled]="form.invalid" class="btn btn-success"> Save </button>
        <button type="submit" name="button"  class="btn btn-dark"> Cancel </button>
      </form>

    </div>
    <div role="tabpanel" class="tab-pane" id="device_info">...</div>
    <div role="tabpanel" class="tab-pane" id="sensors">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>



<ul class="list-group">
  <li *ngFor="let user of userList" class="list-group-item">
      {{user | json}}
  </li>

</ul>
